.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .chat {
        padding: 20px;
        flex: 1;

    }

    .bottom {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        input {}

        .sendButton {}
    }
}